ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

.all-done {
    text-align: center;
    width: 100%;
    margin: 10px 0;
    font-size: large;
}

.todo-list {
    border: solid 1px #e6e6e6;
    border-radius: 4px;
    width: 554px;
    margin: 0 auto;
}